@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to my Razor Pages site</h1>

@* Binder message prop till viewen  *@
<h1>@Model.Message</h1>

<p>This is the start page of the application. Razor Pages makes it easy to build simple web apps.</p>

<h2>Things you can do here:</h2>

<ul>
    <li>Navigate between pages</li>
    <li>Learn how Razor works</li>
    <li>Understand routing</li>
</ul>