@page
@model Genomgang.Pages.PersonModel
@{
    ViewData["Title"] = "Person";
}

<h1>Person</h1>

<p><strong>Name:</strong> @Model.Person.Name</p>
<p><strong>Age:</strong> @Model.Person.Age</p>
<p><strong>Address:</strong> @Model.Person.Address</p>
