/* Regler:
Flexbox sätts alltid på föräldern
flex-direction = riktning
justify-content = längs riktningen
align-items = tvärs riktningen
Barn kan bryta regler med align-self */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER MÅL
Logga till vänster
Meny till höger
Samma rad */

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background-color: #333;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
} */

/* CARDS MÅL
Tre kort bredvid varandra
Samma höjd
Luft mellan dem */

/* .content {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 250px;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
} */

/* .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    background-color: #333;
    color: white;
} */
