body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MOBIL – DEFAULT */
.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #333;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card {
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* TABLET */
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    flex-direction: row;
  }

  .card {
    flex: 1;
  }

}

/* DESKTOP */
@media (min-width: 1024px) {
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }
}
